*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
header,img,.picture,object,nav,menu,button,.btn{
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none
}
body{
    font-family:'Open Sans', sans-serif;
    font-weight:400;
    font-size:112.5%;
    letter-spacing:0.01em;
    margin:0;
    padding:0;
    background:#fcfcfc;
    background:#fcfcfc url("") repeat 0 0;
    color:#212121;
    border-color:#797979
}
body.noscroll{
    overflow:hidden !important
}
.touch body,.no-js body,.ie8-and-lower body{
    overflow:hidden;
    overflow-y:auto
}
#preloader{
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#06a4b7;
    z-index:9999999999999999
}
#preloader .loading-circle{
    margin-top:-80px
}
.no-js #preloader,.ie8-and-lower #preloader{
    display:none
}
#preloader.black-preloader{
    background:#101010
}
.loading-circle{
    border-style:solid;
    border-width:1px;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-left-color:#fff;
    border-right-color:#fff;
    width:100px;
    height:100px;
    border-radius:50px;
    position:absolute;
    text-align:center;
    left:50%;
    top:50%;
    margin:-55px 0 0 -46px;
    -moz-animation:spin 1.8s linear infinite;
    -webkit-animation:spin 1.8s linear infinite;
    animation:spin 1.8s linear infinite
}
.no-js .loading-circle,.ie8-and-lower .loading-circle{
    display:none
}
.black-preloader .loading-circle:before,.black-preloader .loading-circle:after{
    border-left-color:#101010;
    border-right-color:#101010
}
.loading-circle.white-loading-circle:before,.loading-circle.white-loading-circle:after{
    border-left-color:#fff;
    border-right-color:#fff
}
.loading-circle.white-loading-circle{
    border-left-color:#06a4b7;
    border-right-color:#06a4b7
}
.wrapper{
    margin:0 auto;
    width:100%;
    max-width:1200px;
    min-width:320px;
    display:block
}
.full-pagewidth{
    margin:0 auto;
    padding:0;
    width:100%
}
.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12{
    display:inline-block;
    padding:0 1em;
    min-height:1em;
    float:left;
    text-align:center
}
.col1>*,.col2>*,.col3>*,.col4>*,.col5>*,.col6>*,.col7>*,.col8>*,.col9>*,.col10>*,.col11>*,.col12>*{
    margin-left:0;
    margin-right:0
}
.col1{
    width:8.33333333%
}
.col2{
    width:16.66666667%
}
.col3{
    width:25%
}
.col4{
    width:33.33333333%
}
.col5{
    width:41.6666667%
}
.col6{
    width:50%
}
.col6.pull-right{
    margin-left:50%;
    clear:both
}
.col6.pull-left{
    margin-right:50%;
    clear:both
}
.col7{
    width:58.33333333%
}
.col8{
    width:66.66666667%
}
.col9{
    width:75%
}
.col10{
    width:83.3333333%
}
.col11{
    width:91.66666667%
}
.col12{
    width:100%;
    text-align:center
}
.single-col{
    display:block;
    float:none;
    clear:both;
    margin-left:auto;
    margin-right:auto
}
.col1.left,.col2.left,.col3.left,.col4.left,.col5.left,.col6.left,.col7.left,.col8.left,.col9.left,.col10.left,.col11.left,.col12.left{
    text-align:left
}
.col1.right,.col2.right,.col3.right,.col4.right,.col5.right,.col6.right,.col7.right,.col8.right,.col9.right,.col10.right,.col11.right,.col12.right{
    text-align:right
}
.col1.col-right-flow,.col2.col-right-flow,.col3.col-right-flow,.col4.col-right-flow,.col5.col-right-flow,.col6.col-right-flow,.col7.col-right-flow,.col8.col-right-flow,.col9.col-right-flow,.col10.col-right-flow,.col11.col-right-flow,.col12.col-right-flow{
    float:right
}
.col-clear{
    clear:both
}
span .small{
    font-size:0.83333em
}
span .big{
    font-size:1.16667em
}
span .large{
    font-size:2.22222em
}
p{
    font-size:1em;
    max-width:40em;
    margin:1em auto
}
p.center{
    margin-left:auto !important;
    margin-right:auto !important;
    text-align:center !important
}
p.smaller{
    font-size:0.66667em
}
p.small{
    font-size:0.83333em
}
p.big{
    font-size:1.16667em
}
p.bigger{
    font-size:1.5625em
}
p.biggest{
    font-size:1.66667em
}
p.large{
    font-size:2.22222em
}
p.larger{
    font-size:3em
}
p.largest{
    font-size:4em
}
.right p{
    margin-right:0px !important;
    margin-left:auto !important;
    text-align:right
}
.left p{
    margin-left:0px !important;
    margin-right:auto !important;
    text-align:left
}
p.double-space-bottom{
    margin-bottom:2em
}
b{
    font-weight:600
}
a{
    font-size:1em;
    color:#06a4b7;
    text-decoration:none;
    outline:0;
    -webkit-transition:color 250ms ease-in-out;
    -moz-transition:color 250ms ease-in-out;
    -o-transition:color 250ms ease-in-out;
    -ms-transition:color 250ms ease-in-out;
    transition:color 250ms ease-in-out
}
.no-touch a:hover{
    outline:0;
    text-decoration:underline
}
.no-touch a:active{
    outline:0
}
a a.small{
    font-size:0.55556em
}
h1,h2,h3,h4,h5,h6{
    font-family:'Open Sans', sans-serif;
    font-weight:400;
    text-align:center;
    background:none
}
h1 .subheadline,h2 .subheadline,h3 .subheadline,h4 .subheadline,h5 .subheadline,h6 .subheadline{
    font-weight:300;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity:0.7;
    opacity:0.7
}
h4,h5,h6{
    text-align:left
}
h1{
    font-size:4em;
    margin:-0.24em 0 0;
    padding:0;
    display:block;
    color:#06a4b7
}
h1+.subheadline{
    font-size:1em;
    font-weight:300
}
h2{
    font-size:2.22222em;
    display:block;
    margin-top:1.5625em;
    margin-bottom:0.55556em
}
h2+.subheadline{
    font-size:0.83333em;
    padding:0 2.22222em 1.16667em;
    display:block
}
h3{
    font-size:1.5625em;
    margin:0 0 1.16667em
}
h4{
    font-size:1.16667em;
    margin:1em 0 0.66667em;
    text-align:inherit
}
h5{
    font-size:1em;
    margin:0.55556em 0 0.66667em;
    text-align:inherit
}
h6{
    font-size:0.83333em;
    margin:0.55556em 0 0.83333em;
    text-align:inherit
}
.left h2,.left h3,.left h4,.left h5,.left h6{
    text-align:left
}
.right h2,.right h3,.right h4,.right h5,.right h6{
    text-align:right
}
.headline-group{
    width:100%;
    text-align:center;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0
}
.headline-group h2,.headline-group h3,.headline-group h4,.headline-group h5,.headline-group h6{
    border-bottom:none;
    margin-bottom:0;
    display:block
}
.headline-group .subheadline{
    margin:1em 0
}
hr{
    width:80%;
    max-width:600px;
    border:0px;
    border-bottom:1px solid #ededed;
    border-bottom:1px solid rgba(0,0,0,0.1);
    margin:2.22222em auto !important;
    clear:both
}
ul,menu{
    list-style-type:none;
    padding:0px;
    margin:0px
}
ul li,menu li{
    font-size:1em
}
ul .btn:last-child,ul button:last-child,menu .btn:last-child,menu button:last-child{
    margin-right:0px !important
}
ul .btn:first-child,ul button:first-child,menu .btn:first-child,menu button:first-child{
    margin-left:0px !important
}
.right ul,.left ul,.right menu,.left menu{
    margin-right:0px !important;
    margin-left:0px !important;
    padding-right:0px !important;
    padding-left:0px !important
}
.font-light{
    font-weight:200
}
.font-light b{
    font-weight:400
}
span.light{
    font-weight:200;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    opacity:0.5
}
.nowrap,span.nowrap,p.nowrap{
    white-space:nowrap
}
main,section,header,footer{
    float:left;
    clear:both;
    width:100%;
    background-color:#fcfcfc;
    background:#fcfcfc url("") repeat 0 0;
    color:#212121;
    border-color:#797979
}
main.bg-pagewhite,main .bg-pagewhite,section.bg-pagewhite,section .bg-pagewhite,header.bg-pagewhite,header .bg-pagewhite,footer.bg-pagewhite,footer .bg-pagewhite{
    background-color:#fcfcfc;
    background:#fcfcfc url("") repeat 0 0;
    color:#212121;
    border-color:#797979
}
main.bg-black,main .bg-black,section.bg-black,section .bg-black,header.bg-black,header .bg-black,footer.bg-black,footer .bg-black{
    background-color:#101010;
    color:#d8d8d8;
    border-color:#797979
}
main.bg-black p,main .bg-black p,section.bg-black p,section .bg-black p,header.bg-black p,header .bg-black p,footer.bg-black p,footer .bg-black p{
    color:#d8d8d8;
    font-weight:300
}
main.bg-black hr,main .bg-black hr,section.bg-black hr,section .bg-black hr,header.bg-black hr,header .bg-black hr,footer.bg-black hr,footer .bg-black hr{
    border-color:#333;
    border-color:rgba(255,255,255,0.9)
}
main.bg-blue-grey,main .bg-blue-grey,section.bg-blue-grey,section .bg-blue-grey,header.bg-blue-grey,header .bg-blue-grey,footer.bg-blue-grey,footer .bg-blue-grey{
    background-color:#ebebe1
}
main.bg-light-grey,main .bg-light-grey,section.bg-light-grey,section .bg-light-grey,header.bg-light-grey,header .bg-light-grey,footer.bg-light-grey,footer .bg-light-grey{
    background-color:#e3e3e3;
    background:#ededed repeat 0 0;
    color:#333;
    border-color:#e3e3e3
}
main.bg-light-blue,main .bg-light-blue,section.bg-light-blue,section .bg-light-blue,header.bg-light-blue,header .bg-light-blue,footer.bg-light-blue,footer .bg-light-blue{
    background-color:#eefcfd;
    background:#eefcfd url("../img/bg/bg_lightblue.jpg") repeat 0 0;
    color:#265d5f;
    border-color:#cbeff0 !important
}
main.bg-light-magenta,main .bg-light-magenta,section.bg-light-magenta,section .bg-light-magenta,header.bg-light-magenta,header .bg-light-magenta,footer.bg-light-magenta,footer .bg-light-magenta{
    background-color:#fcfcfc;
    background:#fcfcfc url("") repeat 0 0;
    color:#be3587;
    border-color:#be3587 !important
}
main.bg-red,main .bg-red,section.bg-red,section .bg-red,header.bg-red,header .bg-red,footer.bg-red,footer .bg-red{
    background:#c91e1e !important;
    color:#fff !important;
    border-color:#fff !important
}
main.bg-red a,main .bg-red a,section.bg-red a,section .bg-red a,header.bg-red a,header .bg-red a,footer.bg-red a,footer .bg-red a{
    color:#fff !important
}
.no-touch main.bg-red a:hover,.no-touch main .bg-red a:hover,.no-touch section.bg-red a:hover,.no-touch section .bg-red a:hover,.no-touch header.bg-red a:hover,.no-touch header .bg-red a:hover,.no-touch footer.bg-red a:hover,.no-touch footer .bg-red a:hover{
    color:#fff !important
}
main.magenta,section.magenta,header.magenta,footer.magenta{
    background-color:#7b2156;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter:alpha(opacity=95);
    -moz-opacity:0.95;
    -khtml-opacity:0.95;
    opacity:0.95
}
header{
    z-index:999999999;
    position:absolute;
    top:0px;
    left:0px;
    font-size:1em;
    width:100%;
    overflow:hidden;
    height:2.22222em;
    display:block;
    border-bottom:none;
    background:none;
    background-color:#e8e8e8;
    background-color:rgba(235,235,235,0.85);
    color:#fff;
    -webkit-transition:all 300ms linear;
    -moz-transition:all 300ms linear;
    -o-transition:all 300ms linear;
    -ms-transition:all 300ms linear;
    transition:all 300ms linear
}
header svg *,header #logo *,header #icon *,header a,header .call-to-action,header .call-to-action .text{
    -webkit-transition:color 50ms ease-in-out, fill 100ms ease-in-out, background-color 200ms ease-in-out;
    -moz-transition:color 50ms ease-in-out, fill 100ms ease-in-out, background-color 200ms ease-in-out;
    -o-transition:color 50ms ease-in-out, fill 100ms ease-in-out, background-color 200ms ease-in-out;
    -ms-transition:color 50ms ease-in-out, fill 100ms ease-in-out, background-color 200ms ease-in-out;
    transition:color 50ms ease-in-out, fill 100ms ease-in-out, background-color 200ms ease-in-out
}
.no-touch header{
    position:fixed
}
header.asleep{
    -webkit-transform:translate3d(0, -80px, 0);
    transform:translate3d(0, -80px, 0)
}
header .wrapper{
    display:block !important;
    overflow:visible !important;
    height:100%
}
header .wrapper>*{
    width:49%;
    height:100%;
    display:block;
    position:absolute;
    top:0px;
    margin:0;
    padding:0.55556em 1em
}
header object,header img,header svg,header .picture{
    display:inline;
    height:100%;
    margin-left:0;
    margin-right:0
}
header .logo{
    text-align:right;
    left:-25%;
    margin-left:-1.16667em
}
header .logo svg path{
    fill:#06a4b7
}
.no-touch header .logo:hover{
    background-color:#06a4b7;
    color:white
}
.no-touch header .logo:hover svg path{
    fill:white
}
.no-touch header .logo:active{
    background-color:#006471;
    color:white
}
.no-touch header .logo:active svg path{
    fill:white
}
.no-svg header .logo:hover,.no-svg header .logo:active{
    background-color:transparent
}
header .call-to-action{
    text-align:left;
    right:-25%;
    margin-right:2.5em;
    cursor:pointer;
    text-decoration:none;
    color:#333;
    background-color:inherit;
    border:0
}
header .call-to-action svg path{
    fill:#333
}
.no-touch header .call-to-action:hover{
    background-color:#06a4b7;
    color:white;
    text-decoration:none
}
.no-touch header .call-to-action:hover svg path{
    fill:white
}
.no-touch header .call-to-action:active{
    background-color:#006471;
    color:white;
    text-decoration:none
}
.no-touch header .call-to-action:active svg path{
    fill:white
}
.no-svg header .call-to-action:hover,.no-svg header .call-to-action:active{
    background-color:transparent
}
.no-svg header .call-to-action:hover span.text:hover,.no-svg header .call-to-action:active span.text:hover{
    color:#333
}
header .call-to-action>*{
    float:left
}
header .call-to-action .text{
    text-align:left;
    margin-top:-0.16667em;
    padding-left:0.83333em;
    text-decoration:none
}
section.teaser{
    width:100%;
    min-height:450px;
    z-index:999999;
    display:inline-block;
    cursor:default;
    text-align:center;
    color:#212121;
    position:relative
}
section.teaser .teaser-background-image{
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:scroll;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.'$url, sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" none "', sizingMethod='scale')";
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
section.teaser .teaser-background-image video{
    position:absolute;
    right:0;
    bottom:0;
    width:100%;
    height:auto;
    z-index:-100;
    background-repeat:no-repeat;
    background-size:cover
}
section.teaser .wrapper{
    position:relative;
    padding:4.44444em 1em 1em;
    overflow:visible;
    height:100%;
    max-width:800px
}
section.teaser .wrapper:before{
    content:'';
    display:inline-block;
    height:100%;
    width:0.5%;
    min-width:1px;
    margin-left:-0.5%;
    vertical-align:middle
}
section.teaser .middle-content{
    display:inline-block;
    vertical-align:middle;
    text-align:left;
    width:98.5%;
    margin-top:-5%
}
section.teaser .middle-content p{
    margin-left:auto;
    margin-right:auto;
    max-width:none
}
section.teaser h1{
    font-family:'Open Sans Condensed', sans-serif;
    letter-spacing:-0.02em;
    text-transform:uppercase;
    line-height:1em;
    text-align:left;
    margin-left:-0.045em;
    margin-top:0.16667em
}
section.teaser .bottom-content{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    text-align:center;
    display:block;
    padding:4em 0 1.5625em
}
section.teaser .bottom-content p{
    margin-left:auto;
    margin-right:auto;
    font-size:0.66667em;
    font-weight:200
}
section.teaser.flexible{
    height:auto;
    min-height:0
}
section.teaser.flexible .wrapper:before{
    content:none
}
section.teaser.flexible .middle-content{
    vertical-align:top;
    margin-top:0
}
section.teaser.flexible .bottom-content{
    position:static;
    bottom:auto;
    left:auto
}
.no-js section.teaser,.ie8-and-lower section.teaser{
    height:auto !important;
    margin-top:40px
}
.no-js section.teaser br,.ie8-and-lower section.teaser br{
    display:none !important
}
.no-js section.teaser .wrapper:before,.ie8-and-lower section.teaser .wrapper:before{
    content:none
}
.no-js section.teaser .wrapper .middle-content,.ie8-and-lower section.teaser .wrapper .middle-content{
    width:100%;
    margin-top:1em;
    text-align:center
}
.no-js section.teaser .wrapper .middle-content h1,.ie8-and-lower section.teaser .wrapper .middle-content h1{
    font-size:3em;
    text-align:center
}
.no-js section.teaser .wrapper .middle-content .biggest,.ie8-and-lower section.teaser .wrapper .middle-content .biggest{
    font-size:1.5625em
}
.no-js section.teaser .wrapper .middle-content .normal,.ie8-and-lower section.teaser .wrapper .middle-content .normal{
    font-size:0.83333em
}
.no-js section.teaser .wrapper .bottom-content,.ie8-and-lower section.teaser .wrapper .bottom-content{
    position:static;
    bottom:auto;
    padding:0
}
.no-js section.teaser .wrapper:before,.ie8-and-lower section.teaser .wrapper:before{
    content:none
}
article{
    padding:6em 0 8em;
    text-align:center;
    overflow:hidden
}
article .chapter{
    padding-top:6em;
    display:block;
    clear:both
}
article .chapter.reverse-order div{
    float:right
}
article .headline-group{
    margin-bottom:4em
}
footer{
    position:relative;
    display:block;
    bottom:0;
    left:0;
    width:100%;
    margin:0;
    padding:0.55556em 0 1.16667em;
    border-top:1px solid #ededed
}
footer section{
    padding-top:2.22222em;
    padding-bottom:2.22222em
}
footer section:last-child{
    padding-bottom:4em
}
footer .wrapper{
    display:block;
    height:100%;
    font-size:0.66667em;
    text-align:center
}
footer .wrapper>*{
    float:none;
    padding-left:0;
    padding-right:0
}
footer .imprint{
    font-size:0.83333em;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity:0.6;
    opacity:0.6
}
footer .touch .col4,footer .no-js .col4,footer .ie8-and-lower .col4{
    width:50%
}
footer .social-icon,footer a.social-icon{
    text-decoration:none;
    display:inline-block;
    margin:0 0 3em;
    cursor:pointer;
    text-decoration:none;
    color:#212121;
    text-decoration:none;
    -webkit-transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear;
    -moz-transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear;
    -o-transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear;
    -ms-transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear;
    transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear
}
footer .social-icon img,footer .social-icon svg,footer a.social-icon img,footer a.social-icon svg{
    height:1.5625em;
    display:inline-block
}
footer .social-icon svg,footer a.social-icon svg{
    width:1.5625em
}
footer .social-icon img,footer a.social-icon img{
    width:auto
}
footer .social-icon span,footer a.social-icon span{
    font-size:0.66667em;
    text-align:center;
    display:block;
    margin-top:0.16667em;
    visibility:hidden;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    margin:0 0.83333em;
    text-decoration:none
}
.touch footer .social-icon,.no-js footer .social-icon,.ie8-and-lower footer .social-icon,.touch footer a.social-icon,.no-js footer a.social-icon,.ie8-and-lower footer a.social-icon{
    margin-left:0.3em;
    margin-right:0.3em
}
.touch footer .social-icon img,.touch footer .social-icon svg,.no-js footer .social-icon img,.no-js footer .social-icon svg,.ie8-and-lower footer .social-icon img,.ie8-and-lower footer .social-icon svg,.touch footer a.social-icon img,.touch footer a.social-icon svg,.no-js footer a.social-icon img,.no-js footer a.social-icon svg,.ie8-and-lower footer a.social-icon img,.ie8-and-lower footer a.social-icon svg{
    height:2.22222em
}
.touch footer .social-icon span,.no-js footer .social-icon span,.ie8-and-lower footer .social-icon span,.touch footer a.social-icon span,.no-js footer a.social-icon span,.ie8-and-lower footer a.social-icon span{
    margin-top:1em;
    font-size:0.83333em;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    opacity:0.5
}
.no-touch footer .social-icon:hover,.touch footer .social-icon,.ie8-and-lower footer .social-icon,.no-js footer .social-icon,.no-touch footer a.social-icon:hover,.touch footer a.social-icon,.ie8-and-lower footer a.social-icon,.no-js footer a.social-icon{
    text-decoration:none
}
.no-touch footer .social-icon:hover span,.touch footer .social-icon span,.ie8-and-lower footer .social-icon span,.no-js footer .social-icon span,.no-touch footer a.social-icon:hover span,.touch footer a.social-icon span,.ie8-and-lower footer a.social-icon span,.no-js footer a.social-icon span{
    visibility:visible;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1;
    text-decoration:none;
    -webkit-transition:opacity 250ms linear;
    -moz-transition:opacity 250ms linear;
    -o-transition:opacity 250ms linear;
    -ms-transition:opacity 250ms linear;
    transition:opacity 250ms linear
}
.no-touch footer .social-icon:hover .svg-icon-fill-1,.no-touch footer .social-icon:hover .svg-icon-fill-2,.no-touch footer .social-icon:hover svg *,.no-touch footer .social-icon:hover svg path,.no-touch footer .social-icon:hover svg fill,.no-touch footer .social-icon:hover svg polygon,.no-touch footer .social-icon:hover svg ellipse,.no-touch footer .social-icon:hover ellipse rect,.touch footer .social-icon .svg-icon-fill-1,.touch footer .social-icon .svg-icon-fill-2,.touch footer .social-icon svg *,.touch footer .social-icon svg path,.touch footer .social-icon svg fill,.touch footer .social-icon svg polygon,.touch footer .social-icon svg ellipse,.touch footer .social-icon ellipse rect,.ie8-and-lower footer .social-icon .svg-icon-fill-1,.ie8-and-lower footer .social-icon .svg-icon-fill-2,.ie8-and-lower footer .social-icon svg *,.ie8-and-lower footer .social-icon svg path,.ie8-and-lower footer .social-icon svg fill,.ie8-and-lower footer .social-icon svg polygon,.ie8-and-lower footer .social-icon svg ellipse,.ie8-and-lower footer .social-icon ellipse rect,.no-js footer .social-icon .svg-icon-fill-1,.no-js footer .social-icon .svg-icon-fill-2,.no-js footer .social-icon svg *,.no-js footer .social-icon svg path,.no-js footer .social-icon svg fill,.no-js footer .social-icon svg polygon,.no-js footer .social-icon svg ellipse,.no-js footer .social-icon ellipse rect,.no-touch footer a.social-icon:hover .svg-icon-fill-1,.no-touch footer a.social-icon:hover .svg-icon-fill-2,.no-touch footer a.social-icon:hover svg *,.no-touch footer a.social-icon:hover svg path,.no-touch footer a.social-icon:hover svg fill,.no-touch footer a.social-icon:hover svg polygon,.no-touch footer a.social-icon:hover svg ellipse,.no-touch footer a.social-icon:hover ellipse rect,.touch footer a.social-icon .svg-icon-fill-1,.touch footer a.social-icon .svg-icon-fill-2,.touch footer a.social-icon svg *,.touch footer a.social-icon svg path,.touch footer a.social-icon svg fill,.touch footer a.social-icon svg polygon,.touch footer a.social-icon svg ellipse,.touch footer a.social-icon ellipse rect,.ie8-and-lower footer a.social-icon .svg-icon-fill-1,.ie8-and-lower footer a.social-icon .svg-icon-fill-2,.ie8-and-lower footer a.social-icon svg *,.ie8-and-lower footer a.social-icon svg path,.ie8-and-lower footer a.social-icon svg fill,.ie8-and-lower footer a.social-icon svg polygon,.ie8-and-lower footer a.social-icon svg ellipse,.ie8-and-lower footer a.social-icon ellipse rect,.no-js footer a.social-icon .svg-icon-fill-1,.no-js footer a.social-icon .svg-icon-fill-2,.no-js footer a.social-icon svg *,.no-js footer a.social-icon svg path,.no-js footer a.social-icon svg fill,.no-js footer a.social-icon svg polygon,.no-js footer a.social-icon svg ellipse,.no-js footer a.social-icon ellipse rect{
    -webkit-transition:fill .4s ease;
    -moz-transition:fill .4s ease;
    -o-transition:fill .4s ease;
    -ms-transition:fill .4s ease;
    transition:fill .4s ease
}
.no-touch footer .social-icon:hover .email-icon .svg-icon-fill-1,.touch footer .social-icon .email-icon .svg-icon-fill-1,.ie8-and-lower footer .social-icon .email-icon .svg-icon-fill-1,.no-js footer .social-icon .email-icon .svg-icon-fill-1,.no-touch footer a.social-icon:hover .email-icon .svg-icon-fill-1,.touch footer a.social-icon .email-icon .svg-icon-fill-1,.ie8-and-lower footer a.social-icon .email-icon .svg-icon-fill-1,.no-js footer a.social-icon .email-icon .svg-icon-fill-1{
    fill:#006471
}
.no-touch footer .social-icon:hover .linkedin-icon .svg-icon-fill-1,.touch footer .social-icon .linkedin-icon .svg-icon-fill-1,.ie8-and-lower footer .social-icon .linkedin-icon .svg-icon-fill-1,.no-js footer .social-icon .linkedin-icon .svg-icon-fill-1,.no-touch footer a.social-icon:hover .linkedin-icon .svg-icon-fill-1,.touch footer a.social-icon .linkedin-icon .svg-icon-fill-1,.ie8-and-lower footer a.social-icon .linkedin-icon .svg-icon-fill-1,.no-js footer a.social-icon .linkedin-icon .svg-icon-fill-1{
    fill:#069
}
.no-touch footer .social-icon:hover .xing-icon .svg-icon-fill-1,.touch footer .social-icon .xing-icon .svg-icon-fill-1,.ie8-and-lower footer .social-icon .xing-icon .svg-icon-fill-1,.no-js footer .social-icon .xing-icon .svg-icon-fill-1,.no-touch footer a.social-icon:hover .xing-icon .svg-icon-fill-1,.touch footer a.social-icon .xing-icon .svg-icon-fill-1,.ie8-and-lower footer a.social-icon .xing-icon .svg-icon-fill-1,.no-js footer a.social-icon .xing-icon .svg-icon-fill-1{
    fill:#dae600
}
.no-touch footer .social-icon:hover .xing-icon .svg-icon-fill-2,.touch footer .social-icon .xing-icon .svg-icon-fill-2,.ie8-and-lower footer .social-icon .xing-icon .svg-icon-fill-2,.no-js footer .social-icon .xing-icon .svg-icon-fill-2,.no-touch footer a.social-icon:hover .xing-icon .svg-icon-fill-2,.touch footer a.social-icon .xing-icon .svg-icon-fill-2,.ie8-and-lower footer a.social-icon .xing-icon .svg-icon-fill-2,.no-js footer a.social-icon .xing-icon .svg-icon-fill-2{
    fill:#135353
}
.no-touch footer .social-icon:hover .dribble-icon .svg-icon-fill-1,.touch footer .social-icon .dribble-icon .svg-icon-fill-1,.ie8-and-lower footer .social-icon .dribble-icon .svg-icon-fill-1,.no-js footer .social-icon .dribble-icon .svg-icon-fill-1,.no-touch footer a.social-icon:hover .dribble-icon .svg-icon-fill-1,.touch footer a.social-icon .dribble-icon .svg-icon-fill-1,.ie8-and-lower footer a.social-icon .dribble-icon .svg-icon-fill-1,.no-js footer a.social-icon .dribble-icon .svg-icon-fill-1{
    fill:#ea4c89
}
.no-touch footer .social-icon:hover .behance-icon .svg-icon-fill-1,.touch footer .social-icon .behance-icon .svg-icon-fill-1,.ie8-and-lower footer .social-icon .behance-icon .svg-icon-fill-1,.no-js footer .social-icon .behance-icon .svg-icon-fill-1,.no-touch footer a.social-icon:hover .behance-icon .svg-icon-fill-1,.touch footer a.social-icon .behance-icon .svg-icon-fill-1,.ie8-and-lower footer a.social-icon .behance-icon .svg-icon-fill-1,.no-js footer a.social-icon .behance-icon .svg-icon-fill-1{
    fill:#0079ff
}
.scroll-indicator{
    cursor:pointer
}
.overlay-email-contact{
    position:fixed;
    top:0px;
    left:0px;
    display:block;
    visibility:hidden;
    text-align:center;
    overflow-y:scroll;
    height:100%;
    width:100%;
    z-index:999999999999999
}
.overlay-email-contact [foo],.overlay-email-contact{
    -webkit-transition:visibility 500ms linear;
    -moz-transition:visibility 500ms linear;
    -o-transition:visibility 500ms linear;
    -ms-transition:visibility 500ms linear;
    transition:visibility 500ms linear
}
.overlay-email-contact .overlay-background-blender{
    position:fixed;
    background-color:#06a4b7;
    background-color:rgba(6,164,183,0.92);
    top:0px;
    left:0px;
    height:100%;
    width:100%
}
.overlay-email-contact .overlay-background-blender [foo],.overlay-email-contact .overlay-background-blender{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    -webkit-transition:opacity 500ms ease-in-out;
    -moz-transition:opacity 500ms ease-in-out;
    -o-transition:opacity 500ms ease-in-out;
    -ms-transition:opacity 500ms ease-in-out;
    transition:opacity 500ms ease-in-out
}
.overlay-email-contact:before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
    margin-right:-0.25em
}
.overlay-email-contact .wrapper{
    position:relative;
    display:inline-block;
    overflow:visible;
    vertical-align:middle;
    text-align:center;
    width:95%;
    max-width:550px;
    min-height:300px;
    margin-top:1.16667em
}
.overlay-email-contact .wrapper [foo],.overlay-email-contact .wrapper{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    -webkit-transition:opacity 100ms linear;
    -moz-transition:opacity 100ms linear;
    -o-transition:opacity 100ms linear;
    -ms-transition:opacity 100ms linear;
    transition:opacity 100ms linear;
    transition-delay:0s;
    -webkit-transition-delay:0s
}
.overlay-email-contact .wrapper .success-message{
    display:none;
    background-color:transparent;
    padding:1em;
    width:100%;
    min-height:300px;
    position:absolute;
    top:0px;
    left:0px;
    text-align:center
}
.overlay-email-contact .wrapper .success-message span{
    color:#fff;
    font-size:2.22222em;
    font-weight:bold;
    text-align:left;
    display:block;
    width:100%;
    padding-bottom:1em
}
.overlay-email-contact .wrapper .contact-form-mail-paper{
    background-color:#fcfcfc;
    margin-bottom:1.5625em;
    -webkit-box-shadow:0px 2px 5px 2px rgba(0,0,0,0.2);
    box-shadow:0px 2px 5px 2px rgba(0,0,0,0.2);
    display:inline-block;
    position:relative;
    margin-top:0px;
    -moz-transition:margin-top 1s ease-in;
    -webkit-transition:margin-top 1s ease-in;
    -o-transition:margin-top 1s ease-in;
    -ms-transition:margin-top 1s ease-in;
    transition:margin-top 1s ease-in
}
.overlay-email-contact .wrapper .contact-form-mail-paper .progress-overlay{
    position:absolute;
    top:0;
    left:0;
    background-color:#fff;
    height:100%;
    width:100%;
    visibility:hidden;
    -webkit-transition:opacity 500ms ease-in-out,visibility 0s linear 0.5s;
    -moz-transition:opacity 500ms ease-in-out,visibility 0s linear 0.5s;
    -o-transition:opacity 500ms ease-in-out,visibility 0s linear 0.5s;
    -ms-transition:opacity 500ms ease-in-out,visibility 0s linear 0.5s;
    transition:opacity 500ms ease-in-out,visibility 0s linear 0.5s;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0
}
.overlay-email-contact .wrapper .contact-form-mail-paper-content{
    margin-bottom:4em
}
.overlay-email-contact .overlay-top-bar{
    width:100%;
    display:inline-block;
    padding:1em;
    max-width:none
}
.overlay-email-contact .overlay-top-bar .overlay-close-btn{
    float:right;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    opacity:0.5;
    cursor:pointer
}
.no-touch .overlay-email-contact .overlay-top-bar .overlay-close-btn:hover{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
.overlay-email-contact .overlay-bottom-bar{
    width:100%;
    display:inline-block;
    max-width:none
}
.overlay-email-contact .overlay-bottom-bar span{
    background-color:#c91e1e;
    color:#fff;
    width:100%;
    display:inline-block;
    font-size:1em;
    padding:1em;
    text-align:center
}
.overlay-email-contact h2{
    margin-top:0.55556em;
    margin-bottom:0.16667em
}
.overlay-email-contact h2 img{
    height:1em;
    width:auto;
    display:block;
    margin:0 auto
}
.overlay-email-contact .subheadline{
    padding-bottom:2em;
    color:#06a4b7
}
.overlay-email-contact .form-letter{
    text-align:left
}
.overlay-email-contact .fake-input{
    position:relative;
    border:0;
    background:none;
    color:#06a4b7;
    display:inline;
    padding:0 0.16667em 0.16667em;
    outline-width:0;
    outline:0;
    margin:0.16667em 0 0.83333em;
    min-width:3em;
    white-space:normal
}
.overlay-email-contact .fake-input:focus{
    border-color:#06a4b7;
    color:#06a4b7
}
.overlay-email-contact .fake-input.empty{
    color:#fff;
    background-color:#06a4b7;
    -webkit-transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear;
    -moz-transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear;
    -o-transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear;
    -ms-transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear;
    transition:background-color 250ms linear,border-color 250ms linear,color 250ms linear,opacity 250ms linear
}
.overlay-email-contact .fake-input.empty.input-error{
    background-color:#c91e1e
}
.overlay-email-contact .fake-input.empty:after{
    border-bottom:0
}
.overlay-email-contact .fake-input.empty#form-input-subject:after{
    content:'enter a topic'
}
.overlay-email-contact .fake-input.empty#form-input-email:after{
    content:'enter your email'
}
.overlay-email-contact .fake-input.empty#form-input-name:after{
    content:'Enter your name'
}
.overlay-email-contact .fake-input.empty#form-input-message:after{
    content:'Enter an optional message'
}
.overlay-email-contact .fake-input.empty:focus{
    background-color:transparent
}
.overlay-email-contact .fake-input.empty:focus:after{
    color:#06a4b7 !important;
    border-bottom:0;
    -webkit-animation:blinker 1s linear infinite;
    -moz-animation:blinker 1s linear infinite;
    animation:blinker 1s linear infinite;
    border-bottom:1px solid #e3e3e3
}
.overlay-email-contact #form-input-email.input-error{
    background-color:#c91e1e
}
.overlay-email-contact button,.overlay-email-contact .button{
    padding:1em 0.66667em 1em;
    margin-bottom:1.5625em;
    vertical-align:middle;
    display:inline-block;
    float:right;
    clear:both;
    width:auto;
    min-width:150px;
    background-color:#013b41;
    bottom:-1.16667em;
    border:0;
    color:#fff;
    outline:0 !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1;
    -webkit-transition:opacity 500ms ease-in-out;
    -moz-transition:opacity 500ms ease-in-out;
    -o-transition:opacity 500ms ease-in-out;
    -ms-transition:opacity 500ms ease-in-out;
    transition:opacity 500ms ease-in-out
}
.no-touch .overlay-email-contact button:hover,.no-touch .overlay-email-contact .button:hover{
    background-color:#101010
}
.no-touch .overlay-email-contact button:active,.overlay-email-contact button.active,.no-touch .overlay-email-contact .button:active,.overlay-email-contact .button.active{
    background-color:#101010;
    outline:0
}
.overlay-email-contact.show{
    visibility:visible
}
.overlay-email-contact.show .overlay-background-blender{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1;
    position:fixed
}
.overlay-email-contact.show .wrapper{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1;
    -webkit-transition:opacity 250ms linear;
    -moz-transition:opacity 250ms linear;
    -o-transition:opacity 250ms linear;
    -ms-transition:opacity 250ms linear;
    transition:opacity 250ms linear;
    transition-delay:0.5s;
    -webkit-transition-delay:0.5s
}
.overlay-email-contact.check-input .wrapper .contact-form-mail-paper .progress-overlay{
    visibility:visible;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
    filter:alpha(opacity=92);
    -moz-opacity:0.92;
    -khtml-opacity:0.92;
    opacity:0.92;
    transition-delay:0s
}
.overlay-email-contact.check-input #contact-form-submit{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    filter:alpha(opacity=15);
    -moz-opacity:0.15;
    -khtml-opacity:0.15;
    opacity:0.15
}
.overlay-email-contact.success .wrapper .success-message{
    display:block
}
.overlay-email-contact.success .wrapper .contact-form-mail-paper{
    display:block;
    margin-top:-1200px
}
.overlay-email-contact.success .wrapper .contact-form-mail-paper .progress-overlay{
    visibility:hidden;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0
}
.overlay-email-contact.success #contact-form-submit{
    visibility:hidden
}
.only-on-mobile,.mobile-only{
    display:none
}
@-moz-keyframes spin{
    100%{
        -moz-transform:rotate(360deg)
    }
}
@-webkit-keyframes spin{
    100%{
        -webkit-transform:rotate(360deg)
    }
}
@keyframes spin{
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-moz-keyframes blinker{
    0%{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1
    }
    50%{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity:0;
        opacity:0
    }
    100%{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1
    }
}
@-webkit-keyframes blinker{
    0%{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1
    }
    50%{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity:0;
        opacity:0
    }
    100%{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1
    }
}
@keyframes blinker{
    0%{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1
    }
    50%{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity:0;
        opacity:0
    }
    100%{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1
    }
}
.bouncing-vertical:before{
    position:relative;
    -moz-animation:bounce-vertical 1s ease-in-out infinite;
    -webkit-animation:bounce-vertical 1s ease-in-out infinite;
    animation:bounce-vertical 1s ease-in-out infinite
}
@-moz-keyframes bounce-vertical{
    0%{
        top:-2px
    }
    50%{
        top:2px
    }
    100%{
        top:-2px
    }
}
@-webkit-keyframes bounce-vertical{
    0%{
        top:-2px
    }
    50%{
        top:2px
    }
    100%{
        top:-2px
    }
}
@keyframes bounce-vertical{
    0%{
        top:-2px
    }
    50%{
        top:2px
    }
    100%{
        top:-2px
    }
}
@media only screen and (min-width: 1220px){
    .wrapper{
        max-width:1200px
    }
}
@media screen and (max-width: 1219px){
    .wrapper{
        max-width:960px
    }
    section.teaser .wrapper{
        max-width:700px
    }
}
@media only screen and (max-width: 959px){
    .not-on-tablet,br.not-on-tablet{
        display:none !important
    }
    .wrapper{
        max-width:720px
    }
    .col1{
        width:16.66666667%
    }
    .col2{
        width:16.66666667%
    }
    .col3{
        width:50%
    }
    .col4{
        width:50%
    }
    .col5{
        width:100%
    }
    .col6{
        width:100%
    }
    .col7{
        width:100%
    }
    .col8{
        width:100%
    }
    .col9{
        width:100%
    }
    .col10{
        width:100%
    }
    .col11{
        width:100%
    }
    .col1.left,.col2.left,.col3.left,.col4.left,.col5.left,.col6.left,.col7.left,.col8.left,.col9.left,.col10.left,.col11.left,.col12.left,.col1.right,.col2.right,.col3.right,.col4.right,.col5.right,.col6.right,.col7.right,.col8.right,.col9.right,.col10.right,.col11.right,.col12.right{
        text-align:center
    }
    .col1.left h1,.col1.left h2,.col1.left h3,.col1.left p,.col2.left h1,.col2.left h2,.col2.left h3,.col2.left p,.col3.left h1,.col3.left h2,.col3.left h3,.col3.left p,.col4.left h1,.col4.left h2,.col4.left h3,.col4.left p,.col5.left h1,.col5.left h2,.col5.left h3,.col5.left p,.col6.left h1,.col6.left h2,.col6.left h3,.col6.left p,.col7.left h1,.col7.left h2,.col7.left h3,.col7.left p,.col8.left h1,.col8.left h2,.col8.left h3,.col8.left p,.col9.left h1,.col9.left h2,.col9.left h3,.col9.left p,.col10.left h1,.col10.left h2,.col10.left h3,.col10.left p,.col11.left h1,.col11.left h2,.col11.left h3,.col11.left p,.col12.left h1,.col12.left h2,.col12.left h3,.col12.left p,.col1.right h1,.col1.right h2,.col1.right h3,.col1.right p,.col2.right h1,.col2.right h2,.col2.right h3,.col2.right p,.col3.right h1,.col3.right h2,.col3.right h3,.col3.right p,.col4.right h1,.col4.right h2,.col4.right h3,.col4.right p,.col5.right h1,.col5.right h2,.col5.right h3,.col5.right p,.col6.right h1,.col6.right h2,.col6.right h3,.col6.right p,.col7.right h1,.col7.right h2,.col7.right h3,.col7.right p,.col8.right h1,.col8.right h2,.col8.right h3,.col8.right p,.col9.right h1,.col9.right h2,.col9.right h3,.col9.right p,.col10.right h1,.col10.right h2,.col10.right h3,.col10.right p,.col11.right h1,.col11.right h2,.col11.right h3,.col11.right p,.col12.right h1,.col12.right h2,.col12.right h3,.col12.right p{
        text-align:center
    }
    .right p,.right menu,.right ul{
        margin-right:auto !important
    }
    .left p,.left menu,.left ul{
        margin-left:auto !important
    }
    header .logo{
        margin-left:-1em;
        left:auto;
        position:relative;
        float:left;
        width:auto
    }
    header .call-to-action{
        margin-right:-1em;
        float:right;
        position:relative;
        right:auto;
        width:auto
    }
    section.teaser .wrapper{
        max-width:650px
    }
    footer .col4{
        display:inline-block;
        width:50%
    }
}
@media only screen and (max-width: 767px){
    .not-on-mobile{
        display:none !important
    }
    .only-on-mobile{
        display:inherit
    }
    .desktop-only{
        display:none
    }
    .mobile-only{
        display:block
    }
    h1,h2{
        padding-left:0 !important;
        padding-right:0 !important
    }
    .wrapper{
        width:100%;
        max-width:none;
        padding-left:1em;
        padding-right:1em
    }
    .col1,.col2{
        width:16.66666667%
    }
    .col3,.col4{
        width:50%
    }
    .col5,.col6,.col7,.col8,.col9,.col10,.col11{
        width:100%
    }
    h1{
        font-size:2.22222em
    }
    h2{
        font-size:1.5625em
    }
    h3{
        font-size:1.5625em
    }
    header .wrapper{
        padding:0
    }
    header .logo{
        margin-left:auto;
        left:auto;
        position:static;
        float:left;
        text-align:left;
        width:auto
    }
    header .call-to-action{
        margin-right:auto;
        float:right;
        text-align:right;
        position:static;
        right:auto;
        width:auto
    }
    header .call-to-action svg,header .call-to-action img{
        float:right
    }
    header .call-to-action .text{
        display:none
    }
    section.teaser{
        height:auto !important
    }
    section.teaser .wrapper{
        max-width:none
    }
    section.teaser .wrapper:before{
        content:none
    }
    section.teaser .wrapper .middle-content{
        width:100%;
        margin-top:1em;
        text-align:center
    }
    section.teaser .wrapper .middle-content h1{
        font-size:3em;
        text-align:center
    }
    section.teaser .wrapper .middle-content .biggest{
        font-size:1.5625em
    }
    section.teaser .wrapper .middle-content .normal{
        font-size:0.83333em
    }
    section.teaser .wrapper .bottom-content{
        text-align:left;
        position:static;
        bottom:auto;
        padding:0
    }
    section.teaser .wrapper:before{
        content:none
    }
    footer section:last-child{
        padding-bottom:1em
    }
    footer .col4{
        display:block;
        width:100%
    }
    .overlay-email-contact:before{
        display:none
    }
}
@media only screen and (max-width: 480px){
    .col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12{
        width:100%;
        display:block;
        clear:both
    }
}
@media only screen and (max-height: 481px){
    header,header.sticky,header.asleep{
        position:absolute;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@media screen and (max-device-width: 1024px) and (orientation: landscape), screen and (max-device-width: 1024px) and (orientation: portrait){
    h1{
        font-size:3em
    }
    h1+span{
        font-size:1em
    }
    h3{
        font-size:1.5625em
    }
}
.ie8-and-lower body>*{
    display:none
}
.ie8-and-lower body>.ie8-and-lower-notification{
    display:block !important;
    text-align:center !important
}
 